
<div class="question-container">
    <p class="question">{{@this.qst}}</p>

    {{#if @this.img}}
        <img class="flag" src={{@this.img}}/>
    {{/if}}

    <div class="answer-container">
        <form id={{@this.id}}>

            {{#if @this.ans1}}
            <div class="individual-answer-container" id="xyz4">
                <label for="{{@this.id}}-ans1" class="odgovor-label">1. {{@this.ans1}}</label>
                <input type="radio" id="{{@this.id}}-ans1" name="odgovori" class="default-answer-input-style"/>
            </div>
            {{/if}}

            {{#if @this.ans2}}
            <div class="individual-answer-container" id="xyz3">
                <label for="{{@this.id}}-ans2" class="odgovor-label">2. {{@this.ans2}}</label>
                <input type="radio" id="{{@this.id}}-ans2" name='odgovori' class="default-answer-input-style"/>
            </div>
            {{/if}}

            {{#if @this.ans3}}
            <div class="individual-answer-container" id="xyz2">
                <label for="{{@this.id}}-ans3" class="odgovor-label">3. {{@this.ans3}}</label>
                <input type="radio" id="{{@this.id}}-ans3" name='odgovori' class="default-answer-input-style"/>
            </div>
            {{/if}}

            {{#if @this.ans4}}
            <div class="individual-answer-container" id="xyz">
                <label for="{{@this.id}}-ans4" class="odgovor-label">4. {{@this.ans4}}</label>
                <input type="radio" id="{{@this.id}}-ans4" name='odgovori' class="default-answer-input-style"/>
            </div>
            {{/if}}

        </form>
    </div>    

</div>